body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: 1s ease;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.5;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

#top .big-heading {
    margin-bottom: 4rem;
}
/* Containers */

.container-fluid {
    padding: 7% 15%;
}
.container-navbar {
    padding: 0;
}
#top .container-fluid {
    padding: 10% 17% 0%;
}

/* Navbar Section */

.navbar {
    padding: 3% 3%;
    z-index: 1;
    text-align: right;
    background-color: #f3d250;
}
.navbar-timer {
    font-size: 0.9rem;

    font-weight: 400;
    background-color: #ececec;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 13rem;
}
.timer-subtext {
    font-size: 1rem;
}
.timer-text {
    font-size: 1rem;
}

/* Top Section */

#top {
    padding: 10% 10% 5%;
    background-color: #90ccf4;
}
.image-top {
    transform: rotate(10deg);
    transition: 1s ease;
    animation: rot 1s infinite alternate-reverse ease-in-out;
}   

.image-top:hover {
}

@keyframes rot {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}


/* Intro Section */

.image-intro {
    width: 120px;
}

/* Photos Section */

#photos {
    padding-top: 5%;
    color: white;
    background-color: #90ccf4;
}
.carousel-inner {
    color: black;
    padding: 10% 25%;
}
.carousel-item img {
    border: 3px solid white;
    border-radius: 5%;
}

.carousel-caption {
    color: black;
}
.carousel-caption .small-heading {
    background-color: #ececec63;
    border-radius: 0.5rem;
    padding: 3% 4%;
}

/* Letter Section */

.image-letter {
    width: 22rem;
    margin: 5% auto;
    border-radius: 3%;
    display: block;
}

.image-forgive {
    width: 10rem;
}

#letter p {
    text-align: left;
}

/* Footer */

#footer {
    background-color: #5da2d5;
    color: white;
    padding: 5% 7%;
}

@media (min-width: 700px) {
    .carousel-inner {
        padding: 5% 30%;
    }
}

@media (min-width: 820px) {
    .carousel-inner {
        padding: 3% 40%;
    }
}